ul {
    padding: 0;
    margin: 10px 0px;
}

li {
    font-size: 12pt;
    margin-bottom: 10px;
}

em {
    margin-top: 10px;
    font-size: 12pt;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin: 20px 0px 15px 0px;
}

p {
    font-size: 12pt;
    margin: 10px 0px;
}

.Recipe {
    padding-top: 30px;
    max-width: 500px;
    width: 90%;
    margin: 0 auto 60px auto;
    position: relative;
}
