.inputContainer {
    position: relative;
}

input {
    max-width: 450px;
    width: 90%;
    height: 55px;
    font-size: 16pt;
    background: none;
    border-radius: 15px;
    margin-top: 30px;
    color: #ffffff;
    padding-left: 20px;
    outline: none;
    border: 3px solid #ffffff;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbb;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bbb;
}

.closeIcon {
    transform: rotate(360deg);
    margin-left: -45px;
    margin-top: 46px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
}

.searchDropDown {
    position: absolute;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
    left: 0;
    border-radius: 10px;
    top: 53px;
    background-color: #000;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ingrSuggestion {
    width: 100px;
}

.tags {
    margin-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.tag {
    display: inline-block;
    font-size: 13pt;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.tag > .tagClose {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 5px;
    font-size: 14pt;
}

@media only screen and (max-width: 400px) {
    input {
        margin-top: 20px;
        height: 45px;
        font-size: 12pt;
    }

    .tags {
        margin-top: 10px;
    }
}
